@model List<form_builder.Models.FormModel>

<h2>Available Forms</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.Name</td>
                <td>@form.CreatedAt</td>
                @* <td><a href="Form/{@form.Id}">view</a></td> *@
                @* <td><a href="@($"Form/{form.Id}")">view</a></td> *@
                <td><a href="@Url.Action("Render", "Form", new { id = form.Id })">view form</a></td>
                <td><a href="@Url.Action("Submissions", "Form", new { id = form.Id })">view submission</a></td>
            </tr>
        }
    </tbody>
</table>
